@media screen and (min-width: 1100px) {
	/**
	---------------------------------------------------------------
	 * Main Sections
	---------------------------------------------------------------
	**/

	main {

		section {

			&#about {
				padding-bottom:0;
			}
		}
	}
}

@media screen and (max-width: 1100px) {

	/**
	---------------------------------------------------------------
	 * Main Sections
	---------------------------------------------------------------
	**/

	main {

		section {

			&#about {

				.photo {
					background:url(../images/mikes-pic-mobile.png) center no-repeat;
					background-color: $color-grey;
					width:226px;
					height:223px;
					border:3px solid $color-grey;
					float: none;
					margin: 20px auto;
				}

				.bio {
					width:100%;
					float:none;
					padding-top:30px;
				}
			}
		}
	}

}