@media screen and (max-width: 1200px) {

	/**
	---------------------------------------------------------------
	 * Main Sections
	---------------------------------------------------------------
	**/

	main {

		section {

			&#about {

				.photo {
					width:400px;
					height:495px;
				}

				.bio {
					width: 57%;
					padding-top: 55px;
				}
			}
		}
	}

}